@import "tailwindcss";

@theme inline {
  --primary: #12ed39;
}

@layer base {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .nav_shadow {
    border: 0.98px solid;
    border-image-source: linear-gradient(
      180deg,
      rgba(164, 163, 163, 0.2) 0%,
      rgba(102, 102, 102, 0.4) 100%
    );
  }
}
